<!DOCTYPE html>
<html>
  <head>
    <title>Brian Vuu DPL 2018 - Rails Post It Notes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <%= link_to "Post It Notes", root_path %>
      <a href="/newpost">Add To Notes</a>
      <a href="/display">View/Edit/Delete</a>
      
      <div class="board">
        <%= yield %>
      </div>
      <p style="color:gray;">Brian Vuu DPL 2018 - Rails Post It Notes</p>
    </div>
    
  </body>
</html>

